@model ContractManager.Domain.Entities.Contract

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do Contrato</h1>

<div>
    <hr />
    <div class="row">
        <div class="form-group col text-right">
            <a class="btn btn-primary" asp-area="" asp-controller="Contracts" asp-action="Edit"
               asp-route-id="@Model.Id">Editar</a>
            <button type="button" class="btn btn-danger delete" data-id="@Model.Id">Remover</button>
        </div>
    </div>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.QuantityTraded)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.QuantityTraded)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NegotiatedValue)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NegotiatedValue)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.StartedAt)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.StartedAt)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.File)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.File)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
    </dl>
</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $(".delete").click(function () {
                $.ajax({
                    url: "/contracts/delete/" + $(this).data("id"),
                    type: "POST",
                    beforeSend: function (request) {
                        request.setRequestHeader("RequestVerificationToken", $("[name='__RequestVerificationToken']").val());
                    },
                    success: function (result) {
                        window.location.href = "/contracts";
                    }
                });
            });
        })
    </script>
}