@model IEnumerable<ContractManager.Domain.Entities.Contract>
@section Head{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
}
@{
    ViewData["Title"] = "Contratos";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="form-group col text-right">
        <a class="btn btn-primary pull-right" asp-area="" asp-controller="Contracts" asp-action="Create">Novo</a>
    </div>
</div>

<table id="contratos" class="table table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ClientName)</th>
            <th>@Html.DisplayNameFor(model => model.Type)</th>
            <th>@Html.DisplayNameFor(model => model.QuantityTraded)</th>
            <th>@Html.DisplayNameFor(model => model.NegotiatedValue)</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr data-id="@item.Id">
                    @*@Html.DisplayFor(modelItem => item.ClientName)*@
                    <td>@item.ClientName</td>
                    <td>@item.Type</td>
                    <td>@item.QuantityTraded</td>
                    <td>@item.NegotiatedValue</td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js">
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#contratos').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
                }
            });

            $('#contratos tbody').on('click', 'tr td:not(.dataTables_empty)', function () {
                window.location.href = "/contracts/details/" + $(this).data("id");
            });
        });
    </script>
}